---
import AboutSection from "../components/AboutSection.astro";
import HeroSection from "../components/HeroSection.astro";
import PortfolioSection from "../components/PortfolioSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Humberto Colmenares"
  description="Te doy la bienvenida a mi portafolio web. Soy Humberto Colmenares, Desarrollador Frontend"
>
  <main class="container mx-auto w-full min-h-screen bg-slate-900">
    <HeroSection />
    <PortfolioSection />
    <AboutSection />
  </main>
</Layout>
