---
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Humberto Colmenares"
  description="Te doy la bienvenida a mi portafolio web. Soy Humberto Colmenares, Desarrollador Frontend"
>
  <main>
    <HeroSection />
  </main>
</Layout>
