---
console.log("Navbar");
---

<header
  class="w-full h-20 bg-slate-800 px-9 text-yellow-400 flex items-center justify-center"
>
  <div
    class="container mx-auto max-w-screen-lg h-full flex items-center justify-between"
  >
    <a href="/" class="font-bold text-3xl">@colmenaDev</a>
    <svg
      class="icon icon-tabler icon-tabler-menu-deep cursor-pointer"
      width="44"
      height="44"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="rgb(250 204 21)"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M4 6h16"></path>
      <path d="M7 12h13"></path>
      <path d="M10 18h10"></path>
    </svg>
  </div>
</header>
