---
import Contact from "./Contact.astro";
---

<section class="w-full min-h-screen flex items-center bg-gray-900">
  <div
    class="container mx-auto py-10 max-w-screen-lg grid md:grid-cols-2 place-items-center md:justify-items-end"
  >
    <div class="flex flex-col justify-center items-center md:items-start space-y-4 py-8">
      <h1
        class="text-center md:text-left text-3xl md:text-4xl font-bold text-slate-100 text-balance"
      >
        Soy Humberto Colmenares, Full Stack Developer y Especialista en
        WordPress...
      </h1>
      <p class="text-lg text-slate-100 text-center text-balance md:text-left">
        ...apasionado por crear sitios web atractivos, responsivos y f치ciles de
        usar. Ayudo a
        <span class="font-bold text-yellow-200/100"
          >peque침as empresas y profesionales</span
        >
        a crear p치ginas web orientadas a la conversi칩n y generar ventas.
      </p>
      <Contact />
    </div>
    <div class="flex flex-col space-y-4">
      <img
        src="../../public/colmenadev-logo.svg"
        alt="Humberto Colmenares"
        width="300"
        height="auto"
        class="max-w-full h-auto rounded-full"
      />
    </div>
  </div>
</section>
