---
import CardsPortfolio from "./CardsPortfolio.astro";
---

<section class="w-full min-h-screen bg-slate-900 py-10 px-3 space-y-6">
  <div class="container mx-auto max-w-screen-lg rounded-xl">
    <span
      class="text-6xl md:text-9xl font-light bg-clip-text text-transparent bg-gradient-to-r from-slate-200 to-yellow-200"
      >Portfolio</span
    >
    <h2 class="font-bold text-lg md:text-2xl">
      Proyectos Frontend y WordPress
    </h2>
  </div>
  <div>
    <CardsPortfolio />
  </div>
</section>
